/* #region page */
.page {
  font-family: "Space Grotesk", sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 140%;

  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
}

p {
  font-family: "Space Mono", monospace;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.br__image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 96px;
}
/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.header__bottom {
  padding: 0 20px 40px;
}
/* #endregion header */

/* #region menu */
.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: #e5e6e8;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
}

.menu__call-to-order {
  display: block;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid #292929;
  color: inherit;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

/* #endregion menu */

/* #region nav */
.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* #endregion nav */

/* #region icon */
.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(images/phone-icon.png);
}

.icon--menu {
  background-image: url(images/burger-menu-icon.png);
}

.icon--close {
  background-image: url(images/icon-close.png);
}
/* #endregion icon */

/* #region recommended */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 120px;
}

.title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 48px;
  margin-left: 20px;
}

.product {
  padding: 0;
  margin: 0 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  color: inherit;
  text-decoration: none;
}

.product__title {
  margin: 0;
  margin-top: 16px;
  font-size: 20px;
  line-height: 140%;
}

.product__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 8px;
}

.product__price {
  font-size: 16px;
  line-height: 140%;
  margin-top: 12px;
}
/* #endregion recommended */

/* #region browse */
.browse {
  margin-left: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.browse__links {
  display: flex;
  gap: 20px;
}

.browse__links a {
  flex: 1 1 0;
}

.browse__photo {
  width: 100%;
  height: auto;
  display: block;
}

.browse__title {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 140%;
  font-style: bold;
}

.browse__button {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
  cursor: pointer;
  background-color: #292929;
  border-radius: 8px;
  padding: 14.5px 0;
  border: none;

  box-shadow: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.browse__button:hover {
  background-color: #444444;
}

/* #endregion browse */

/* #region about */

.about {
  margin-top: 48px;
  margin-right: 20px;
  margin-bottom: 48px;
}

.about__descr {
  margin: 0;
  margin-left: 20px;
  font-size: 16px;
  line-height: 140%;
  color: inherit;
}

/* #endregion about */

/* #region contact-us */

.title__contact {
  margin-bottom: 48px;
}
.contact-us__container {
  margin: 0 20px;
}

.contact-us__input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 16px;

  font-style:
    Space Mono,
    monospace;
  font-size: 14px;
  line-height: 140%;
  color: #7e7e83;

  border-radius: 8px;
  border: none;
  background-color: #f8f8fa;
}

.contact-us__input:focus{
border-color: #292929;
}

.contact-us__button {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: #292929;
  cursor: pointer;
  background-color: #f8f8fa;
  border-radius: 8px;
  padding: 14.5px 0;
  border: 2px solid #f0f1f4;

  box-shadow: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}
/* #endregion contact-us */

/* #region footer */

.footer {
  margin-top: 48px;
}
.footer__staff {
  margin: 0 20px;
  margin-bottom: 24px;
}

.footer__op {
  font-style:
    Space Grotesk,
    sans-serif;
  margin: 0;
  color: #9393a3;
  font-size: 14px;
  line-height: 140%;
}

.footer__main_info {
  font-style:
    Space Mono,
    monospace;
  margin: 0;
  margin-top: 8px;
  color: #191919;
  font-size: 16px;
  line-height: 140%;
}
/* #endregion footer */
